<html>
<head>
</head>
<body>
	<div class="container">
		<h1>Quiz #1</h1>

		<div class="row">
			<div class="col-xs-12">
				<p>
					1. What president was mentioned at the start of the interview?
				</p>
			</div>
			<div class="col-xs-12">
				<label class="radio-inline col-xs-3">
					<input type="radio" name="presidentOptions" id="q1a1" value="Ronald Reagan">Ronald Reagan
				</label>
				<label class="radio-inline col-xs-3">
					<input type="radio" name="presidentOptions" id="q1a2" value="Franklin D. Roosevelt">Franklin D. Roosevelt
				</label>
				<label class="radio-inline col-xs-3">
					<input type="radio" name="presidentOptions" id="q1a3" value="Theodore Roosevelt">Theodore Roosevelt
				</label>
				<label class="radio-inline col-xs-3">
					<input type="radio" name="presidentOptions" id="q1a4" value="Woodrow Wilson">Woodrow Wilson
				</label>

			</div>

		<p>
			2. Out of 100 times, how many times might the voice of the people be “the voice of God”?
		</p>

		<label class="radio-inline">
			<input type="radio" name="countOptions" id="q2a1" value="49">49
		</label>
		<label class="radio-inline">
			<input type="radio" name="countOptions" id="q2a2" value="50">50
		</label>
		<label class="radio-inline">
			<input type="radio" name="countOptions" id="q2a3" value="51">51
		</label>
		<label class="radio-inline">
			<input type="radio" name="countOptions" id="q2a4" value="100">100
		</label>

		<p>
			3. President Obama attributed the result of the election to _________ .
		</p>

		<label class="radio-inline">
			<input type="radio" name="electionOptions" id="q3a1" value="Democrats not staying on message
">Democrats not staying on message
		</label>
		<label class="radio-inline">
			<input type="radio" name="electionOptions" id="q3a2" value="Hillary’s email scandal
">Hillary’s email scandal
		</label>
		<label class="radio-inline">
			<input type="radio" name="electionOptions" id="q3a3" value="Democrats not showing up to the polls
">Democrats not showing up to the polls
		</label>
		<label class="radio-inline">
			<input type="radio" name="electionOptions" id="q3a4" value="Russian hacking
">Russian hacking
		</label>

		<p>
			4. When talking about the current political landscape of America, what structural problem did Obama point to?
		</p>

		<label class="radio-inline">
			<input type="radio" name="problemOptions" id="q4a1" value="Population demographics
">Population demographics
		</label>
		<label class="radio-inline">
			<input type="radio" name="problemOptions" id="q4a2" value="Population distribution
">Population distribution
		</label>
		<label class="radio-inline">
			<input type="radio" name="problemOptions" id="q4a3" value="Population age
">Population age
		</label>
		<label class="radio-inline">
			<input type="radio" name="problemOptions" id="q4a4" value="Population size
">Population size
		</label>

	</div>
</body>
</html>