<html>
<head>
</head>
<body>
	<div class="container">
		<h1 class="text-center">Interview #2</h1>
		
		<!-- 16:9 aspect ratio -->
		<div class="col-xs-10 col-xs-offset-1" ng-show="model.group == 2">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="//www.ytcropper.com/embed/td58d2e3db9eb96/loop/noautoplay/" frameborder="0"></iframe>
			</div>	
		</div>

		<div ng-show="model.group == 1">
			<p class="interviewer">
				Matthew Yglesias: This is a really sort of big-picture question, but over the years, I've heard a number of different members of your team refer to your kind of philosophy in foreign affairs as "realism." Is that a term you would use?
			</p>	
			
			<p>
				Barack Obama: You know, traditionally, a lot of American foreign policy has been divided into the realist camp and the idealist camp. And so if you're an idealist, you're like Woodrow Wilson, and you're out there with the League of Nations and imagining everybody holding hands and singing "Kumbaya" and imposing these wonderful rules that everybody's abiding by. And if you're a realist, then you're supporting dictators who happen to be our friends, and you're cutting deals and solely pursuing the self-interest of our country as narrowly defined. And I just don't think that describes what a smart foreign policy should be.
			</p>
			<p>
				I think it is realistic for us to want to use diplomacy for setting up a rules-based system wherever we can, understanding that it's not always going to work. If we have arms treaties in place, it doesn't mean that you don't have a stray like North Korea that may try to do its own thing. But you've reduced the number of problems that you have and the security and defense challenges that you face if you can create those norms. And one of the great things about American foreign policy in the post-World War II era was that we did a pretty good job with that. It wasn't perfect, but the UN, the IMF, and a whole host of treaties and rules and norms that were established really helped to stabilize the world in ways that it wouldn't otherwise be.
			</p>
			<p>
				Now, I also think that if we were just resorting to that and we didn't have a realistic view that there are bad people out there who are trying to do us harm — and we've got to have the strongest military in the world, and we occasionally have to twist the arms of countries that wouldn't do what we need them to do if it weren't for the various economic or diplomatic or, in some cases, military leverage that we had — if we didn't have that dose of realism, we wouldn't get anything done, either. So what I do think is accurate in describing my foreign policy is a strong belief that we don't have military solutions to every problem in the 21st century. That we don't have a peer in terms of a state that's going to attack us and bait us. The closest we have, obviously, is Russia, with its nuclear arsenal, but generally speaking they can't project the way we can around the world. China can't, either. We spend more on our military than the next 10 countries combined.
			</p>
			<p>
				So the biggest challenge we have right now is disorder. Failed states. Asymmetric threats from terrorist organizations. And what I've been trying to do is to make sure that over the course of the last six years and hopefully the next two, we just have more tools in our toolkit to deal with the actual problems that we have now and that we can project into the future, rather than just constantly relying on the same tools that we used when we were dealing with Germany and Japan in World War II.
			</p>
			<p>
				And so ending two wars was important, not because I was under any illusions that that would mean we wouldn't have any terrorist threat. 3 It does mean, though, that by not having 180,000 people in Iraq and Afghanistan, we can then more strategically deploy, with a smaller footprint, special forces, trainers, partnering, that allows us to get at the actual problem and then frees us up to be able to send a team to prevent Ebola. To double-down on our investments in things like cybersecurity. To look at the new threats and opportunities that are out there. And that, I think, has been the real challenge over the last six to eight years.
			</p>
			<p>
				There are still about 10,000 American military personnel serving in Afghanistan in training and advisory roles, and about 3,000 American troops are in Iraq to train Iraqi soldiers to fight ISIS.
			</p>

			<p class="interviewer">
				In the Middle East, where we're still very much engaged despite the draw-down from Iraq, the Clinton administration had a policy they called Dual Containment of Iraq and Iran. The Bush administration had an idea about preventative war and about rollback and democracy promotion. Under your administration, the country is still very involved in that region, but I don't think we have as clear a sense of what is the sort of strategic goal of that engagement.
			</p>

			<p>
				Well, partly it's because of the nature of what's happened in the Middle East. I came in with some very clear theories about what my goals were going to be. We were going to end the war in Iraq. We were going to prevent Iran from getting a nuclear weapon, trying diplomacy first. We were going to try to promote increased economic development in the Muslim countries to deal with this demographic bulge that was coming into play. We were going to promote Palestinian and Israeli peace talks. So, there were all kinds of theories.
			</p>

			<p>
				And then the Arab Spring happened. I don't recall all the wise men in Washington anticipating this. And so this has been this huge, tumultuous change and shift, and so we've had to adapt, even as it's happening in real time, to some huge changes in these societies. But if you look at the basic goals that I've set: making sure that we are maintaining pressure on terrorist organizations so that they have a limited capacity to carry out large-scale attacks on the West. Increasing our partnering and cooperation with countries to deal with that terrorist threat. Continuing to prevent Iran from obtaining a nuclear weapon. And using the tool of sanctions to see if we can get a diplomatic breakthrough there. And continuing to try to move the Israeli-Palestinian relationship into a better place, while at the same time helping the region as a whole integrate itself more effectively into the world economy so that there's more opportunity. Those basic goals still hold true.
			</p>
			<p>
				But what people rightly have been concerned about [is] that the forces of disorder — sectarianism, most tragically in Syria, but lingering elements of that in Iraq as well, the incapacity of Israelis and Palestinians to get together, and the continued erosion of basic state functions in places like Yemen, mean that there's more to worry about there than there might have been under the old order. We're kind of going through a passage that is hard and difficult, but we're managing it in a way to make sure that Americans are safe and that our interests are secured. And if we can make progress in restoring a functioning, multi-sectarian Iraqi government, and we're able to get a diplomatic breakthrough with Iran, then we have the basis, I think, for a movement towards greater stability.
			</p>
			<p>
				But this is going to be a generational challenge in the Muslim world and the Middle East that not only the United States but everybody's going to have to deal with. And we're going to have to have some humility in recognizing that we don't have the option of simply invading every country where disorder breaks out. And that to some degree, the people of these countries are going to have to, you know, find their own way. And we can help them but we can't do it for them.
			</p>
		</div>	
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4 form-element-margin">
				<button class="btn btn-lg btn-block btn-primary" ng-click="model.next()">Next</button>
			</div>
		</div>
	</div>
</body>
</html>