<html>
<head>
</head>
<body>
	<div class="container">
		<h1 class="text-center">Homepage</h1>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4 form-element-margin" >
				<input type="text" class="form-control" id="participantId" placeholder="Participant ID" ng-model="model.participantId">
			</div>
		</div>
		<div class="row form-element-margin">
			<div class="col-xs-4 col-xs-offset-4">
				<button type="button" class="btn btn-primary btn-block btn-lg" ng-click="model.onStartExperimentClick()">Begin Experiment</button>
			</div>
		</div>
	</div>
</body>
</html>
