<html>
<head>
</head>
<body>
	<div class="container">
		<h1 class="text-center">Quiz #2</h1>

		<p class="quiz-question">1. What are the two major groups when it comes to foreign policy?</p>
		<div class="row">
			<div class="col-xs-3">
				<div class="radio">
					<label>	
						<input type="radio" name="groupOptions" id="q1a1" value="Democrats and Republicans" ng-model="model.question1">Democrats and Republicans
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="groupOptions" id="q1a2" value="War Hawks and Pacifists" ng-model="model.question1">War Hawks and Pacifists
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="groupOptions" id="q1a3" value="Pragmatists and Optimists" ng-model="model.question1">Pragmatists and Optimists
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label class="radio-inline col-xs-3">
						<input type="radio" name="groupOptions" id="q1a4" value="Realists and Idealists" ng-model="model.question1">Realists and Idealists
					</label>
				</div>
			</div>
		</div>

		<p class="quiz-question">
			2. Which former president, known for proposing the League of Nations, was referenced as an idealist?
		</p>
		<div class="row">
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="presidentOptions" id="q2a1" value="Franklin Roosevelt" ng-model="model.question2">Franklin Roosevelt
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="presidentOptions" id="q2a2" value="Woodrow Wilson" ng-model="model.question2">Woodrow Wilson
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="presidentOptions" id="q2a3" value="Dwight Eisenhower" ng-model="model.question2">Dwight Eisenhower
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="presidentOptions" id="q2a4" value="John F. Kennedy" ng-model="model.question2">John F. Kennedy
					</label>
				</div>
			</div>
		</div>

		<p class="quiz-question">
			3. In talking about arms treaties, which country was denoted as a “stray”?
		</p>
		<div class="row">
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="strayOptions" id="q3a1" value="Iran" ng-model="model.question3">Iran
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="strayOptions" id="q3a2" value="Russia" ng-model="model.question3">Russia
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="strayOptions" id="q3a3" value="China" ng-model="model.question3">China
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="strayOptions" id="q3a4" value="North Korea" ng-model="model.question3">North Korea
					</label>
				</div>
			</div>
		</div>

		<p class="quiz-question">
			4. According to Obama, what solutions will no longer work as well as they have in the past?
		</p>
		<div class="row">
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="solutionOptions" id="q4a1" value="Military solutions" ng-model="model.question4">Military solutions
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="solutionOptions" id="q4a2" value="Economic solutions" ng-model="model.question4">Economic solutions
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="solutionOptions" id="q4a3" value="Diplomatic solutions" ng-model="model.question4">Diplomatic solutions
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="solutionOptions" id="q4a4" value="Technological solutions" ng-model="model.question4">Technological solutions
					</label>
				</div>
			</div>
		</div>

		<p class="quiz-question">
			5. Which country is considered the closest influential “peer” of the Unites States?
		</p>
		<div class="row">
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="peerOptions" id="q5a1" value="China" ng-model="model.question5">China
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="peerOptions" id="q5a2" value="Russia" ng-model="model.question5">Russia
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="peerOptions" id="q5a3" value="Germany" ng-model="model.question5">Germany
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="peerOptions" id="q5a4" value="The United Kingdom" ng-model="model.question5">The United Kingdom
					</label>
				</div>
			</div>
		</div>

		<p class="quiz-question">
			6. The United States spends more on its military than the next ___ countries combined.
		</p>
		<div class="row">
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="countryOptions" id="q6a1" value="5" ng-model="model.question6">5
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="countryOptions" id="q6a2" value="10" ng-model="model.question6">10
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="countryOptions" id="q6a3" value="15" ng-model="model.question6">15
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="countryOptions" id="q6a4" value="20" ng-model="model.question6">20
					</label>
				</div>
			</div>
		</div>

		<p class="quiz-question">
			7. Which era’s strategic tools does President Obama want to move away from?
		</p>
		<div class="row">
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="toolOptions" id="q7a1" value="World War II" ng-model="model.question7">World War II
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="toolOptions" id="q7a2" value="Korean War" ng-model="model.question7">Korean War
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="toolOptions" id="q7a3" value="Vietnam War" ng-model="model.question7">Vietnam War
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="toolOptions" id="q7a4" value="Persian Gulf War" ng-model="model.question7">Persian Gulf War
					</label>
				</div>
			</div>
		</div>

		<p class="quiz-question">
			8. How many troops were in Iraq and Afghanistan when President Obama took office?
		</p>
		<div class="row">
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="troopsOptions" id="q8a1" value="180,000" ng-model="model.question8">180,000
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="troopsOptions" id="q8a2" value="200,000" ng-model="model.question8">200,000
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="troopsOptions" id="q8a3" value="250,000" ng-model="model.question8">250,000
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="troopsOptions" id="q8a4" value="270,000" ng-model="model.question8">270,000
					</label>
				</div>
			</div>
		</div>

		<p class="quiz-question">
			9. According to Obama, what advantage does the U.S have in decreasing its military presence in Iraq and Afghanistan?
		</p>
		<div class="row">
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="advantageOptions" id="q9a1" value="Less lives are lost in combat" ng-model="model.question9">Less lives are lost in combat
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="advantageOptions" id="q9a2" value="Less money is spent on a conflict without a clear end" ng-model="model.question9">Less money is spent on a conflict without a clear end
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="advantageOptions" id="q9a3" value="Resources are freed to be spent in what the President considers to be real problems" ng-model="model.question9">Resources are freed to be spent in what the President considers to be real problems
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="advantageOptions" id="q9a4" value="The President can please a country that is tired of a prolonged military presence in a chaotic region of the world" ng-model="model.question9">The President can please a country that is tired of a prolonged military presence in a chaotic region of the world
					</label>
				</div>
			</div>
		</div>

		<p class="quiz-question">
			10. The Clinton Administration had a policy called _________________ of Iraq and Iran.
		</p>
		<div class="row">
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="policyOptions" id="q10a1" value="Democratic Injection" ng-model="model.question10">Democratic Injection
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="policyOptions" id="q10a2" value="Political Liberation" ng-model="model.question10">Political Liberation
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="policyOptions" id="q10a3" value="Dual Containment" ng-model="model.question10">Dual Containment
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="policyOptions" id="q10a4" value="Extreme Neutralization" ng-model="model.question10">Extreme Neutralization
					</label>
				</div>
			</div>
		</div>

		<p class="quiz-question">
			11. What was Obama’s primary goal when it came to foreign policy in the Middle East?
		</p>
		<div class="row">
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="goalsOptions" id="q11a1" value="Neutralizing ISIS" ng-model="model.question11">Neutralizing ISIS
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="goalsOptions" id="q11a2" value="Ending the Iraq War" ng-model="model.question11">Ending the Iraq War
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="goalsOptions" id="q11a3" value="Destroying the Taliban" ng-model="model.question11">Destroying the Taliban
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="goalsOptions" id="q11a4" value="Protecting Israel" ng-model="model.question11">Protecting Israel
					</label>
				</div>
			</div>
		</div>

		<p class="quiz-question">
			12. What was the primary way Obama planned to stop Iran from acquiring a nuclear weapon?
		</p>
		<div class="row">
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="nukeOptions" id="q12a1" value="Through military force" ng-model="model.question12">Through military force
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="nukeOptions" id="q12a2" value="Through economic sanctions" ng-model="model.question12">Through economic sanctions
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="nukeOptions" id="q12a3" value="Through the United Nations" ng-model="model.question12">Through the United Nations
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="nukeOptions" id="q12a4" value="Through direct diplomacy" ng-model="model.question12">Through direct diplomacy
					</label>
				</div>
			</div>
		</div>

		<p class="quiz-question">
			13. What shook the Middle East in ways the Obama administration did not anticipate?
		</p>
		<div class="row">
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="shookOptions" id="q13a1" value="The Arab Spring" ng-model="model.question13">The Arab Spring
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="shookOptions" id="q13a2" value="The Rise of ISIS" ng-model="model.question13">The Rise of ISIS
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="shookOptions" id="q13a3" value="The Syrian Civil War" ng-model="model.question13">The Syrian Civil War
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="shookOptions" id="q13a4" value="The drop in oil prices worldwide" ng-model="model.question13">The drop in oil prices worldwide
					</label>
				</div>
			</div>
		</div>

		<p class="quiz-question">
			14. Sectarianism, the excessive attachment to a particular sect or party, has affected which Middle Eastern country the most?
		</p>
		<div class="row">
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="sectOptions" id="q14a1" value="Israel" ng-model="model.question14">Israel
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="sectOptions" id="q14a2" value="Iran" ng-model="model.question14">Iran
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="sectOptions" id="q14a3" value="Syria" ng-model="model.question14">Syria
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="sectOptions" id="q14a4" value="Iraq" ng-model="model.question14">Iraq
					</label>
				</div>
			</div>
		</div>

		<p class="quiz-question">
			15. Which country’s government has all but ceased to function?
		</p>
		<div class="row">
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="ceaseOptions" id="q15a1" value="Syria" ng-model="model.question15">Syria
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="ceaseOptions" id="q15a2" value="Yemen" ng-model="model.question15">Yemen
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="ceaseOptions" id="q15a3" value="Qatar" ng-model="model.question15">Qatar
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="radio">
					<label>
						<input type="radio" name="ceaseOptions" id="q15a4" value="Iran" ng-model="model.question15">Iran
					</label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-4 col-xs-offset-4 form-element-margin">
				<button class="btn btn-lg btn-block btn-primary" ng-click="model.next()">Next</button>
			</div>
		</div>

	</div>
</body>
</html>